h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

body {
  font-family: "Hiragino Mincho ProN", "Yu Mincho",
               "MS PMincho", "Noto Serif JP", serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  max-width: 700px;
  margin: auto;
}

.text {
  text-align: center;
  color: #ffffff;
}
